/* Index.php  CHECK*/
#indexBody{
	background:url(assets/css/images/beach.jpg);
	background-size: cover;
	background-repeat: no-repeat;	
}

.index_h1{
	font-family: 'Playball', cursive;
	color:white;
	font-size:50px;
}

.main_buttons{
	width:250px;
	margin-top:20px;
	margin-left:15%;
}

.login{	
	text-decoration: none;
	font-size: 22px;
	display:block;
	width:100%;
	padding-top:12px;
	padding-bottom:12px; 
	margin-bottom: 10px;
}

.register{
	background-color: #DFCCB0;
	color:white;
	text-decoration: none;
	font-size: 22px;
	width:100%;
	display:block;
	padding-top:12px;
	padding-bottom:12px; 
}
/* Index.php */










a:hover{
	cursor:pointer;
}

aside{
	color:white;
	width:20%;
	background:black;
	position:fixed;
	height:100vh;
	right:0px;	
	z-index: 1;
}


aside a{
	text-decoration: none;
	font-size: 18px;
	color:white;
	display:block;
}



/*
article{
	border:1px solid black;
	background:#C0A894;
		
}


article:nth-of-type(even){
	background:#BBC0AA;
}
*/




.inside_image{
	border:1px solid black;
	display: table-cell;
	margin-right: 10px;
}

.innner_inside_image{
	border:5px solid purple;
}

.innner_inside_image img {
	width: 100%;
}

.content_border{
	border:1px solid red;
	display:table;
	padding-top:5%;
	padding-bottom:5%;
	margin-left:4%;
}

.header_bar{
	border:1px solid blue;
	
}

.text_border{
	border:10px solid green;
 	display:inline-block;
 	width:60%;
 	display:table-cell;
 	margin-left: 5%;
}

.date{
	border:1px solid orange;
	padding-top:5px;
	padding-bottom:5px;
}

.small_comments{
	margin-left:3%;
}

.sentence{
	padding-bottom: 5px;
}





/*
MEDIA QUEIRES
*/




@media (max-width: @screen-xs-max) {

aside{
	color:white;
	display:block;
	background:black;
	height:20vh;
	position:static;
	z-index: 1;
}



aside a{
	text-decoration: none;
	font-size: 18px;
	color:white;
	display:inline-block;
}

}





@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
aside{
	color:white;
	display:block;
	background:black;
	height:20vh;
	position:static;
	z-index: 1;
}



aside a{
	text-decoration: none;
	font-size: 18px;
	color:white;
	display:inline-block;
}
 
}







